.container{
    margin: auto;
    max-width: 600px;
}

.done{
    text-decoration: line-through;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    width: 100%;
    padding: 15px;
    margin-top: 15px;
}

.card{
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);

}

.verific{
    border-style: none;
    background-color: white;
}

.bin{
    border-style: none;
    background-color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addButton{
    width: 25px;
    height: 25px;
    font-size: 20px;
    border: none;
    background-color: rgb(51, 163, 255);
    color: white;
    border-radius: 30px;
}

.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.253);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardModal{
    padding: 20px;
    background-color: white;
}

.hide{
    display: none;
}